/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #08002e; /* Dark background */
}

body {
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  line-height: 1.6;
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

/* Full-Screen Sections */
.full-screen-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  overflow: hidden;
}

.container-body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

header {
  border-bottom: 1px solid #00d8fe49;
  box-shadow: 0 0 4px 0 #00d8fe49, 0 6px 18px 0 #00d8fe49;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: #08002e;
}

/*the profile image*/
.responsive-img {
  max-width: 100%; /* Ensures image scales within its container */
  height: auto; /* Maintains aspect ratio */
  margin: 0 auto; /* Centers image horizontally */
}

@media (max-width: 768px) {
  .responsive-img {
    width: 100%;/*Adjust size for smaller screens */
  }
}

@media (max-width: 576px) {
  .responsive-img {
    width: 90%; /* Adjust size further for extra small screens */
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}
.container-list ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 0;
  margin-bottom: 0;
  width: 30rem;
  transition: all 0.3s ease-in-out;
  background-color: #08002e;
}

.container-list ul li {
  display: inline-block;
  margin: 1rem;
  margin-bottom: 0;
  color: #00d8fe !important;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  position: relative; /* Necessary for the pseudo-element */
  cursor: pointer;
  transition: color 0.35s ease-in; /* Smooth color transition */
  background-color: #08002e;
}
/* Ensure links are blue by default */
.nav-link.text-blue {
  color: #00d8fe !important;
  transition: color 0.3s ease;
}
.text-close{
  background-color:#00d8fe !important;
  
}
/* On hover, change the color to white */
.nav-link.text-blue:hover {
  color: white !important;
}

/* For offcanvas links, same styling */
.offcanvas .nav-link.text-blue {
  color: #00d8fe !important;
}

.offcanvas .nav-link.text-blue:hover {
  color: white !important;
}
.offcanvas-body{
  background-color: #08002e;
}


@media (max-width: 768px) {
  .container-list ul {
    width: 20rem;
  }
  .container-list ul li {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container-list ul {
    width: 20rem;
  }
  .container-list ul li {
    font-size: 18px;
  }
}

/* Hover effect on the text color */
.container-list ul a:hover {
  color: rgb(255, 255, 255); /* Change text color on hover */
}

/* Sliding bottom border effect */
.container-list ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  color: rgb(255, 255, 255);
  background-color: #00d8fe; /* Border color */
  transition: width 0.35s ease-in; /* Smooth sliding effect */
}

/* On hover, expand the bottom border */
.container-list ul li:hover::after {
  color: rgb(255, 255, 255);
  width: 100%; /* Make the border fully visible */
}

h3 {
  font-size: 3rem;
  color: #fff;
}

p {
  color: #fff;
  font-size: 1.2rem;
  max-width: 90%;
  line-height: 1.8;
}

footer {
  display: block;
  width: 100%;
  color: #fff;
  height: 100px;
  margin-top: 1rem;
  text-align: center;
  background-color: #0a003c;
}
.footer_title {
  width: 70%;
  margin: auto;
  padding-top: 1rem;
  border-top: 1px solid #00d8fe;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}
.footer_icons {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}
.icons:hover {
  color: #00d8fe;
}
.btn_second {
  width: 140px !important;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #00d8fe !important;
  background-color: transparent !important;
  border: 2px solid #00d8fe !important;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn_second:hover {
  background-color: hsl(202, 78%, 54%) !important;
  box-shadow: 0 8px 24px hsl(202, 78%, 54%) !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
  transform: translateY(-3px);
}
/* img*/
.fixed-image {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

/* Gradient Background */
.gradient-bg{
  background: linear-gradient(to right, #0a003c, #00d8fe);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: #fff;
}


/* Card Item */
.card-item {
  border-radius: 10px;
  border: 1px solid #00d8fe;
  box-shadow: 0 0 2px 0 #00d8fe3f, 0 6px 6px 1px #00d8fe3f;
  color: #00d8fe;
  overflow: hidden;
}
.card-item:hover {
  border: 1.5px solid #00d8fe;
}

/* Tabs*/

:root {
  --primary-color: #00d8fe;
  --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.tabs {
  display: flex;
  position: relative;
  background-color: none;
  padding: 1rem; /* Shortened padding shorthand */
  border-radius: 16px;
  border: 1px solid #00d8fe;
  box-shadow: 0 0 2px 0 #00d8fe, 0 3px 3px 0 #00d8fe;
  color: #00d8fe;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  justify-content: space-between; /* Center tabs in the container */
  /*gap: 1rem; /* Space between tabs */
  overflow: hidden; /* Prevent scrollbars */
}

.tabs * {
  flex-shrink: 0; /* Prevent shrinking of tab elements */
}

input[type='radio'] {
  display: none; /* Hide radio buttons */
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2px 0 #00d8fe44, 0 6px 12px 0 #00d8fe45;
  text-align: center;
}

input[type='radio']:checked + label {
  color: #fff;
  background-color: hsl(202, 78%, 54%) !important;
  border: 2px solid #00d8fe;
  transform: translateY(-3px);
  box-shadow: 0 8px 24px hsl(202, 78%, 54%) !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tabs {
    flex-wrap: wrap; /* Allow tabs to wrap into multiple rows */
    justify-content: center; /* Center tabs in the container */
  }

  .tab {
    width: 140px; /* Reduce width for medium screens */
    font-size: 0.9rem; /* Adjust font size for better fit */
  }
}

@media (max-width: 576px) {
  .tabs {
    flex-direction: row; /* Stack tabs vertically */
    gap: 0.5rem; /* Adjust spacing between tabs */
    align-items: center; /* Center align the stacked tabs */
  }

  .tab {
    width: 100%; /* Full-width tabs for small screens */
    max-width: none; /* Ensure tabs span the container */
    margin: 0.5rem 0; /* Add spacing between tabs */
    font-size: 1rem; /* Adjust font size for readability */
  }
}

/*.glider {
} */

@media (max-width: 700px) {
  .tabs {
    transform: scale(1);
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .scroll-button {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 1rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.8rem;
  }

  .scroll-button {
    width: 40px;
    height: 40px;
  }
}
/* Arrow component*/

.fa-chevron-down {
  font-size: 32px;
  color: #00d8fe;
  background-color: transparent;
}

.arrow {
  color: #00d8fe;
  font-size: 25px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
  background-color: transparent;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@media screen and (max-width: 990px) {
  .img-thumbnail {
    width: 65%;
  }
}

/* Scroll Button */
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 100;
  background-color: transparent;
  border: none;
}
